@custom:registry=https://custom-registry.com/
//custom-registry.com/:_password=${ARTIFACTORY_PASSWORD}
//custom-registry.com/:username=${ARTIFACTORY_USER}
//custom-registry.com/:email=${ARTIFACTORY_EMAIL}
//custom-registry.com/:always-auth=true
